<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- Load your stylesheet -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body>

  <!-- NAVBAR -->
  {% include header.html %}

  <!-- PAGE CONTENT -->
  <main>
    {{ content }}
  </main>

  <!-- FOOTER -->
  {% include footer.html %}

  <!-- JavaScript -->
  <script src="{{ site.baseurl }}/assets/js/upcast.js"></script>

</body>
</html>
